<div class="status-bar">
    <div>Friction: {{game?.friction}}</div>
    <div>Gravity: {{game?.gravity}}</div>
    <div>Player speed: {{game?.player?.speed}}</div>
    <div>x: {{game?.player?.x | number: '1.0-0'}}</div>
    <div>y: {{game?.player?.y | number: '1.0-0'}}</div>
</div>
<progress class="health" [value]="game.player.health" max="100"></progress>
<div class="pause" *ngIf="game.gamePause">PAUSE</div>
<div class="game-over" *ngIf="game.gameOver">GAME OVER</div>
<canvas id="canvas"></canvas>